body {
    background-color: beige;
}

h1 {
    text-align: center;
}

section {
    background-color: rgb(221, 193, 150);
    width: 300px;
    height: 470px;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}

div#status-bar {
    background-color: antiquewhite;
    text-align: right;
    border-radius: 10px;
    height: 20px;
    width: 250px;
    margin: auto;
}

div#numero {
    background-color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: auto;
}

div#resultado {
    background-color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    height: 240px;
    width: 250px;
    margin: auto;
}

p#status {
    padding-right: 20px;
    font-weight: bold;
}

p#txtRodape {
    text-align: center;
}

p#txtResultado {
    text-align: left;
    padding-left: 20px;
}